Repository junta-asaka/code-training-discord: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tox, frontend-eslint, frontend-pnpm-test

backend-tox:
  name: Backend Tox
  entry: powershell -Command "cd backend; tox"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-eslint:
  name: Frontend ESLint
  entry: powershell -Command "cd frontend; pnpm run lint"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-pnpm-test:
  name: Frontend PNPM Tests
  entry: powershell -Command "cd frontend; pnpm run test"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: 外部キー、lifespanの型定義を修正
  backend/src/domains.py
  backend/src/main.py
Due: backend-tox

fix: 変数名を修正。フレンド追加するusernameのバリデーション処理を追加
  frontend/src/components/page/Page.tsx
Due: frontend-eslint, frontend-pnpm-test

fix: validation追加。クエリパラメータからパスパラメータに変更
  backend/src/api/channel.py
  backend/src/api/friend.py
  backend/src/utils/validators.py
  backend/tests/test_friend_api.py
  frontend/src/api/friend.ts
Due: backend-tox, frontend-eslint, frontend-pnpm-test

fix: ログイン時アクセストークンとリフレッシュトークンを生成するように修正
  backend/src/api/login.py
  backend/src/domains.py
  backend/src/repository/channel_repository.py
  backend/src/schema/login_schema.py
  backend/src/usecase/login.py
  backend/src/utils/utils.py
  backend/tests/test_login_api.py
  backend/tests/test_login_usecase.py
  backend/tests/test_session_repository.py
  frontend/src/api/auth.ts
  frontend/src/hooks/useAuthVerification.ts
  frontend/src/hooks/useLogin.ts
  frontend/tests/Login.test.tsx
Due: backend-tox, frontend-eslint, frontend-pnpm-test

fix: auth_verifyのファイル名を変更
  .vscode/settings.json
  backend/src/api/auth.py
  backend/src/main.py
Due: backend-tox

feat: リフレッシュトークンを利用してアクセストークンを更新するAPI処理を作成
  backend/src/api/auth.py
  backend/src/middleware.py
Due: backend-tox

fix: 認証ガードコンポーネントではローカルストレージの認証状態のみをチェックするように修正
  frontend/src/components/AuthGuard.tsx
  frontend/src/hooks/useAuthVerification.ts
Due: frontend-eslint, frontend-pnpm-test

fix: スキーマにリフレッシュトークンを追加
  frontend/src/hooks/useLogin.ts
  frontend/src/schemas/loginSchema.ts
  frontend/src/stores/authStore.ts
Due: frontend-eslint, frontend-pnpm-test

feat: 認証fetchのラッパー関数を作成
  frontend/src/api/auth.ts
  frontend/src/api/friend.ts
  frontend/src/api/message.ts
  frontend/src/hooks/useFriends.ts
  frontend/src/hooks/useMessages.ts
  frontend/src/utils/authFetch.ts
Due: frontend-eslint, frontend-pnpm-test

fix: バリデーション時にUUIDを使用するように修正
  backend/src/api/channel.py
  backend/src/api/friend.py
  backend/src/utils/validators.py
  backend/tests/test_friend_api.py
Due: backend-tox

fix: アクセストークンのカラム名を修正
  backend/src/api/auth.py
  backend/src/api/login.py
  backend/src/domains.py
  backend/src/repository/session_repository.py
  backend/src/usecase/login.py
  backend/tests/test_login_usecase.py
  backend/tests/test_session_repository.py
Due: backend-tox

fix: セッション認証のエラーレスポンスを修正
  backend/src/middleware.py
Due: backend-tox

fix: DB更新系のリクエストについてはjwt検証+セッション状態確認を行うように修正
  backend/src/api/auth.py
  backend/src/middleware.py
  backend/src/repository/session_repository.py
  backend/src/usecase/login.py
  backend/tests/test_login_usecase.py
  backend/tests/test_session_repository.py
Due: backend-tox

fix: リフレッシュトークンの有効期限確認処理を改善し、不正な情報に対するエラーハンドリングを追加
  backend/src/api/auth.py
  doc/auth.md
Due: backend-tox

fix: Noneチェックを削除
  backend/src/api/auth.py
Due: backend-tox

fix: パスリストを環境変数化
  backend/src/middleware.py
Due: backend-tox

fix: アクセストークンとリフレッシュトークンをハッシュ化して保存するように修正
  backend/src/api/auth.py
  backend/src/domains.py
  backend/src/usecase/login.py
  backend/src/utils/utils.py
  backend/tests/test_login_usecase.py
Due: backend-tox

Path conditions:
  backend-tox: any of: ^backend/.*\.(py)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|vue)$
  frontend-pnpm-test: any of: ^frontend/.*\.(ts|tsx|js|jsx|vue)$
